.app-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.left-section,
.right-section {
  flex: 1;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-container h2 {
  color: #333;
  margin-bottom: 10px;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

input,
button {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

input:hover,
button:hover {
  border-color: #007bff;
}

.submit-button {
  background: #24bd6c;  
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.submit-button:hover {
  background: #1dd46d;
}

.preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.preview-card {
  width: 100%;
  max-width: 500px;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.preview-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.spa-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.spa-detail {
  margin: 5px 0;
}

.swiper-container {
  margin-top: 20px;
}

.preview-image {
  width: 100%;
  height: auto;
  max-width: 400px; 
  max-height: 300px; 
  object-fit: cover; 
  border-radius: 8px;
}


@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
    gap: 0;
  }

  .left-section,
  .right-section {
    flex: 1;
    width: 100%;
    margin-bottom: 20px;
  }

  .preview-container {
    max-width: 400px;
    width: 100%;
  }
}
